name: Build

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GOWIN_VERSION: "1.9.11.03"
      GOWIN_DIR: IDE
      BUILD_OUTPUT_DIR: build
      IMAGE_NAME: riscv

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check Docker availability
        run: |
          docker --version
          docker info

      - name: Cache GOWIN IDE
        id: cache-gowin
        uses: actions/cache@v4
        with:
          path: ${{ env.GOWIN_DIR }}
          key: gowin-ide-${{ env.GOWIN_VERSION }}

      - name: Download and install GOWIN IDE
        if: steps.cache-gowin.outputs.cache-hit != 'true'
        run: |
          echo "Downloading GOWIN EDA Education ${GOWIN_VERSION}..."
          GOWIN_TAR="Gowin_V${GOWIN_VERSION}_Education_Linux.tar.gz"
          curl -L "https://cdn.gowinsemi.com.cn/${GOWIN_TAR}" -o "${GOWIN_TAR}"

          mkdir -p "${GOWIN_DIR}"
          tar -xzf "${GOWIN_TAR}"
          rm "${GOWIN_TAR}"

      #- name: Show GOWIN directory contents (debug)
      #  run: ls -R "${GOWIN_DIR}"

      # Build or use Cached Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ env.IMAGE_NAME }}:latest
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run Docker build
        run: |
          make run

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: fpga-build-${{ github.run_number }}
          path: ${{ env.BUILD_OUTPUT_DIR }}
